<html>
<head>
  <title>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'marathonr' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
