<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%=@title %></title>		
		<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script type="text/javascript" src="/javascripts/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/effects.js"></script>
		<script type="text/javascript" src="/javascripts/lightbox.js"></script>	</head>
	<body>
		<div id="content">			
			<h1><%= @title %></h1>
			<div class="gallery_wrapper">
				<div class="description">
					<%= @description %>
				</div>
				<% @photos.each do |photo| %>
					<div class="thumbnail">
						<a href="<%= photo.url %>" alt="image" rel="lightbox[<%=@title%>]"><img src="<%=photo.thumbnail_url%>"/></a><br />				
						<a href="/image/rotate?photo_name=<%=photo.filename%>&amp;gallery_name=<%=@name%>&amp;direction=cw"><img src="/images/rotate2.gif" style="border:0px; padding:0px; margin:0px;"/></a>
					</div>
				<% end %>
				<div style="clear:both"></div>
			</div>			
		</div>
	</body>
</html>