<%= error_messages_for 'resume' %>

<!--[form:resume]-->
<p><label for="resume_text">Text</label><br/>
<%= text_area 'resume', 'clear_text'  %></p>

<p><label for="resume_attachment">Attachment</label><br/>
</p>
<!--[eoform:resume]-->

