<h1>New resume</h1>
<% form_for :resume, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
	Resume: <%= f.file_field :data %>
	<%= submit_tag %>
<% end %>
<%= link_to 'Back', :action => 'list' %>
