*{
	font-size:12px;
	font-family:arial, sans-serif;
	margin:0 0 0 0;
	padding: 0 0 0 0;
}

body{
	background: url(../images/eee_fade500.gif) repeat-x #fff;
}

h1{
	background:	url(../images/dark_gradient.gif) repeat-x;
	font-size:3em;
	color:#fff;
	padding:5px;
}

#feed_adder{
	width:800px;
	margin:10px auto 10px auto;
}

#new_feed{
	font-size:1.5em;
	width:650px;
	border:0px;
	padding:5px;
	background:url(../images/sidebar.gif) repeat-x;
	border:1px solid #52912f;
	
}

#add{
	font-size:1.5em;
	margin-left:5px;
}


h3{
	background:	url(../images/green_shine40.gif) repeat-x 0px -5px;
	border-bottom:1px solid #fff;
	color:#fff;
	padding:.25em;
}

h3 a{
	color: #fff;
	font-size:1.5em;
	text-decoration:none;
}

#feeds{
	margin-left: 5%;
	margin-right: 5%;
	padding:5px;
	_height:1%;
	overflow:auto;
}

.feed{
	width:30%;
	margin:10px;
	float:left;	
	background: url(../images/sidebar.gif) repeat-x -100px;
	display:none;
}

.feed ol{
	height:350px;	
	overflow:auto;
	list-style:none;
	font-size:1.25em;
}

.feed li
{
	margin:10px;
}

.feed li a{
	color:#52912f;
	text-decoration:none;
	font-size:1.1em;
}

.entry_snippet{
	font-size:1em;
	color:#000;
}
