<h1><%=h @album.title%>
</h1>
<div class="content">
<p style="color: green"><%= flash[:notice] %></p>
<div class="gallery">
<h3><%=h @album.description%></h3>
<ul>
<% @photos.each do | photo | %>
	<li class="thumb"><%= link_to image_tag(photo.public_filename(:thumb)), photo.public_filename, {:rel=>"lightbox[#{@album.title}]", :title=> photo.title.to_s + "<br>" + photo.caption.to_s}%></li>
<% end %>
</ul>
</div>
</div>