<div id="content">
	<ul id="user_photo_stream">
	<% @photos.each do |photo| %>
		<li>
			<li class="thumb">
				<%= render :partial => "shared/small_photo", :object=> photo%>
			</li>
		</li>
	<% end %>
	</ul>
	<%= will_paginate @photos %>
</div>