*{
  margin:0px;
  padding:0px;
  font-family:helvetica, arial, sans-serif;
}

.title{
  height:600px;
  width:100px;
  background: url(../images/julia_title.gif);
  float:left;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16px;
}

p{
  font-size:16px;
  line-height:22px;
  padding-bottom:22px;
}

a{
  color:#000;
  text-decoration:none;
}

a:link, a.nav:link{
  padding:2px;
}
a:visited, a.nav:visited{
  padding:2px;
}

a:hover, a.nav:hover{
  background:#000;
  color:#fff;
  padding:2px;
}
a:active, a.nav:active{
  padding:2px;
}

#bio_picture{
  float:left;
  padding-right:10px;
}

ul.top_navigation{
  padding-bottom:10px;
}

ul.top_navigation li{
  list-style: none;
  display:inline;
}

ul.top_navigation li a{
  text-decoration:none;
  font-weight:bold;
  font-size:16px;
  line-height:24px;
}

body.schedule table{
  width:500px;
  font-size:14px;
  background:#eee;
}

body.schedule table td.day{
  width:150px;
}

body.schedule table td.time{
  width:150px;
}