<html>
<head>
  <title>Notable</title>
  <%= javascript_include_tag :defaults %> 
  <%= javascript_include_tag "jquery", "notable", "curvycorners" %>
  <%= stylesheet_link_tag 'notable' %>
</head>
<body>

<div class="header">
  <div class="navigation">
	<%= link_to 'logout', {:controller=> 'account', :action=>'logout'}, :class=>'link' %>
  </div>		
  <h1 class="logo">
	  Notable!
  </h1>
</div>
<div style="clear:both"></div>

<iframe id="upload_target" name="upload_target" style="width:0;height:0" frameborder="0"></iframe>
	<div class="search">
		<!--
		<div class="search_form">
		<%= start_form_tag ({:action => 'search_by_tag'} )%>
			<%= text_field_tag 'tag_search', "search for tags..." %> <%= submit_tag "Search", :class=>"button"%>
		<%= end_form_tag %>
		</div>
		-->
		<%= link_to_remote '<img src="/images/icons/add.png" />Add a Note', 
		{:url=>{:controller=>'notes',:action=>'new'},
		:complete=>"Notable.Page.load_notes()"},
		{:id=>"add_note"}		                       		     
		%> | 
		<a href="/">See all notes</a>		
		<div class="cloud" id="cloud">
			<%=generate_tag_cloud()%>
		</div>
	</div>

<div id="container">
<%= @content_for_layout %>
</div>
</body>
</html>
