<ul class="nav">
	<li><%= link_to 'Main', :controller=>'main' %></li>
	<li><%= link_to 'Profile', :controller=>'profile' %></li>
	<li><%= link_to 'Account', :controller=>'account', :action=> 'update_account' %></li>
	<li><%= link_to 'Logout', :controller=>'account', :action=> 'logout' %></li>	
</ul>