/****************************
DEFAULTS
*****************************/
*{
font-family:helvetica, sans-serif;
}

html, body{
margin:0px;
padding:0px;
height: 100%;
text-align: center;
background:#ccc;
}

ul{
margin-left:1.5em;
}

a{
text-decoration:none;
color:#000;
padding:2px;
}

a:hover{
color:#fff;
background:#000;
padding:2px;
}

/****************************
STRUCTURE
*****************************/

div#container
{
margin-left: 10%; 
margin-right: 10%;
text-align:left;
}



/****************************
ACCOUNT
*****************************/


#center{
		position:absolute;
		height:300px;
		width:400px;
		left: 50%;
        top :15%;
        margin-left: -200px;  /* half of width */
}

#account_box{
		position:relative;
		margin:0 0 0 0;
		width:400px;
		xheight:300px;
		background-color:#ffffcc;
		color:#000;
		border:3px solid #000;
		text-align:center;
}


#account_box h1{
	font-size:32px;
}


div#account_form{
	margin:auto;
	text-align:left;
	width:225px;
	font-family: helvetica, sans-serif;
}


#account_box input{
	font-size:18px;
	margin:2px;
}

#account_box label{
	font-size:16px;
	position:relative;top:3px;
}

#account_box label{
	line-height:1.5em
}

.account_button{
  margin:10px 0;
}



fieldset{
  border:0px solid #000;
}

legend{
	color:#000;
}

.login_message{
background:#ffff00;
color:#000;
padding:3px;
font-size:14px;
text-align:center;
margin-bottom:10px;
border-bottom:#000 2px solid;
}

.signup_message{
background:#ffff00;
color:#000;
padding:3px;
font-size:14px;
text-align:left;
margin-bottom:10px;
border-bottom:#000 2px solid;
}

a.account_link{
font-size: .75em;
line-height :1em;
margin-left:10px;
color:#000;
padding:3px;
text-decoration:underline;
}

a.account_link:hover{
font-size:.75em;
line-height:1em;
color:#fff;
background:#000;
padding:3px;
text-decoration:none;
}

.fieldWithErrors input{
	background:yellow;
	padding:0px; margin:0px;
}

#errorExplanation{
margin:10px;
font-size:14px;
}

#errorExplanation h2{
font-size:1.25em;
margin-bottom:2px;
}


/****************************
NAVIGATION
*****************************/
div.navigation{
float:right;
font-size:.75em;
font-weight:bold;
margin-top:35px;
padding-right:10px;
color:#fff;
}


div.navigation a{
color:#fff;
text-decoration:none;
}

/****************************
HEADER
*****************************/
div.header{
float:left;
text-align:left;

background:#555;
width:100%;
}


h1.logo{
float:left;
padding-left:5px;
margin:0px;
color:#fff;
font-size:1.75em;
line-height:1.85em;
width:75%;
}

/****************************
CONTROLS
*****************************/

.error_message{
	color:#fff;
	padding:2px;
	margin:2px;
	background:red;
	text-align:center;
	font-weight:bold;
}

div.search{
padding: 10px 0 5px 0;
background:#bbb;
border-bottom:1px dotted #999;
border-top:2px solid #999;
color:#000;
}

.cloud{
margin:3px 3px 0px 3px;
font-size:10px;
}

.cloud a{
	color:#777;
}

.cloud a:hover{
	background:#777;
	color:#bbb;
}

.search_form input, .search_form a{
font-size:1.5em;
text-decoration:none;
}


/****************************
NOTE
*****************************/


.note{
text-align:left;
width:325px;
overflow-x: hidden;
background:#ffffcc;
border-right:3px solid #aaa;
border-bottom:3px solid #aaa;
font-size:.85em;
position:absolute;
top:100px;
left:50px;
z-index:9999;
}

.note a{
color:blue;
}

.note a:hover{
background:blue;
color:white;
}

.note img.thumb{
border:3px solid #fff;
}

.note_header{
font-size:1px;
background:#ffff66;
border-bottom:#ffff00 1px solid;
height:17px;
}


div.note_date{
float:left;
font-size:14px;
line-height:17px;
font-weight:bold;
width:300px;
padding:1px 0px 1px 2px;
color:#000;
}

div.note_text{
margin-bottom:3px;
margin-left:6px;
font-size:1em;
}

.note textarea{
font-size:1em;
}

div.note_text ul{
	margin-left:0px;
	margin-top:.25em;
	padding-left:.7em;
}

div.note_text ul{

}

div.note_delete{
float:left;
width:20px;
text-align:right;
}

div.note_delete a:hover{
background:url();
}



.note_controls {
text-align:right;
margin-right:0px;
}

.editor_field
{
border:0px solid #fff;
overflow:auto;
text-align:left;
width:100%;
}

.file_listing{
width:100px; 
float:left;
margin:5px;
}

.inner_note{
margin:10px;
}

div.tags{
color:black;
margin: 5px 0px 5px 0px;
padding-top:3px;
border-top:1px dotted #ccc;
}

div.tags h3{
margin:0px;
padding:0px;
color:#525552;
font-size:1em;
}

.editor_field{
	background:#ffffcc;
}

/****************************
FILES
*****************************/
.file{
float:left;
}

.file a:hover{
background:url();
}

.upload_control{
}




a#add_note{
}

a#add_note img{
 border:0px solid #fff;
}

a#add_note:hover{
background:none;
color:#000;
}



/****************************
FILES
*****************************/
div.help_header{
background:#FFFF66;
padding:5px;
color:#000;
}

div.help_header h1{
	color:#000;
	font-size:1.5em;
	margin:0px;
	float:left;
	width:50%;
}

div#close_help{
	font-weight:bold;
	font-size:.85em;
	width:50%;
	float:right;
	text-align:right;
}

.help{
padding:5px;
font-size:.85em;
line-height:1.5em;
}

.help h2{
	margin:10px 0px 5px 0px;
	padding:0px;
	font-size:1.35em;
	color:blue;
}

.help p{
	padding:0px;
	font-size:1.1em;
	margin:5px 0 0 0;
}

.help ul{
	margin:0 0 0 2em;
	padding:0px;
}

