/****************************
DEFAULTS
*****************************/
*{
font-family: helvetica, sans-serif;
font-size: 12px;
margin:0px;
padding:0px;
}

a{
text-decoration:none;
color:#000;
padding:2px;
}

a:hover{
color:#fff;
background:#000;
paddin:2px;
}


/****************************
STRUCTURE
*****************************/

body{
background:#eee;

}

div#container
{
margin-left: 10%; 
margin-right: 10%;
text-align:left;
}

/****************************
NAVIGATION
*****************************/
ul.navigation{
list-style:none;
text-align:right;
margin-right:0px;
}


ul.navigation li{
display:inline;
}

ul.navigation a{
color:#fff;
text-decoration:none;
position:relative;
	}

/****************************
HEADER
*****************************/
div.header{
text-align:left;
}

h1{
background:#000;
padding:10px;
color:#eee;
}

h1 div{
font-size:2em;
}

/****************************
CONTROLS
*****************************/

div.search{
margin: 10px 0 10px 0;
}

.cloud{
margin:10px;
font-size:10px;
}

.search_form input, .search_form a{
font-size:2em;
text-decoration:none;
}

/****************************
NOTE
*****************************/


.note{
width:325px;
position:absolute;
overflow-x: hidden;
background:#fff;
margin:5px;
border-right:3px solid #aaa;
border-bottom:3px solid #aaa;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
}

.note_header{
font-size:1px;
background:#C8E0F9;
border-bottom:#8BD1F8 1px solid;
height:17px;
}


div.note_date{
float:left;
font-size:14px;
line-height:17px;
font-weight:bold;
width:300px;
padding:1px 0px 1px 2px;
color:#3883D6;
}

div.note_text{
margin-bottom:3px;
margin-left:6	px;
}

div.note_delete{
float:left;
width:20px;
text-align:right;
}

div.note_delete a:hover{
background:url();
}



.note_controls {
text-align:right;
margin-right:0px;
}

.editor_field
{
border:0px solid #fff;
overflow:auto;
text-align:left;
}

.file_listing{
width:100px; 
float:left;
margin:5px;
}

.inner_note{
margin:10px;
}

div.tags{
color:#3883D6;
margin: 5px 0px 5px 0px;
padding-top:3px;
border-top:1px dotted #ccc;
}


/****************************
FILES
*****************************/
.file{
float:left;
}

.file a:hover{
background:url();
}

.upload_control{
}