/****************************
DEFAULTS
*****************************/
*{
font-family:helvetica, sans-serif;
}

html, body{
margin:0px;
padding:0px;
height: 100%;
text-align: center;
background:#ccc;
}

ul{
margin-left:1.5em;
}

a{
text-decoration:none;
color:#000;
padding:2px;
}

a:hover{
color:#fff;
background:#000;
paddin:2px;
}


/****************************
STRUCTURE
*****************************/

div#container
{
margin-left: 10%; 
margin-right: 10%;
text-align:left;
}



/****************************
ACCOUNT
*****************************/


#center{
		position:absolute;
		height:300px;
		width:400px;
		left: 50%;
        top :15%;
        margin-left: -200px;  /* half of width */
	    xmargin-top: -150px;   /* half of height */
}

#top_quarter{
		position:absolute;
		height:300px;
		width:400px;
		left: 50%;
        top :25%;
        margin-left: -200px;  /* half of width */
	    margin-top: -150px;   /* half of height */
}

#account_box{
		position:relative;
		margin:0 0 0 0;
		width:400px;
		xheight:300px;
		background-color:#000;
		color:#fff;
		border:3px solid #fff;
		text-align:center;
}


#account_box h1{
	font-size:32px;
}


div#account_form{
	margin:auto;
	text-align:left;
	xheight:125px;
	width:225px;
	font-family: helvetica, sans-serif;
}


#account_box input{
	font-size:18px;
	margin:2px;
}

#account_box label{
	font-size:16px;
	position:relative;top:3px;
}

#account_box label{
	line-height:1.5em
}

.account_button{
  margin:10px 0;
}



fieldset{
  border:0px solid #fff;
}

legend{
	color:#fff;
}

.login_message{
background:#ffff00;
border:3px solid #ffcc33;
color:#000;
width:400px;
padding:3px;
font-size:14px;
text-align:center;
margin-bottom:50px;
}

.signup_message{
background:#ffff00;
border:3px solid #ffcc33;
color:#000;
width:400px;
padding:3px;
font-size:14px;
text-align:left;
margin-bottom:50px;
}

a.account_link{
font-size: .75em;
line-height :1em;
margin-left:10px;
color:#fff;
padding:3px;
text-decoration:underline;
}

a.account_link:hover{
font-size:.75em;
line-height:1em;
color:#000;
background:#fff;
padding:3px;
text-decoration:none;
}

.fieldWithErrors input{
	background:yellow;
	padding:0px; margin:0px;
}

#errorExplanation{
margin:10px;
font-size:14px;
}

#errorExplanation h2{
font-size:1.25em;
margin-bottom:2px;
}


/****************************
NAVIGATION
*****************************/
div.navigation{
float:right;
width:5%;
font-size:1em;
font-weight:bold;
padding-right:10px;
margin-top:1.75em;
}


div.navigation a{
color:#fff;
text-decoration:none;
}

/****************************
HEADER
*****************************/
div.header{
float:left;
text-align:left;
padding-left:10px;
background:#000;
width:100%;
}


h1.logo{
margin:0px;
color:#fff;
font-size:1.75em;
line-height:1.85em;
width:75%;
}

/****************************
CONTROLS
*****************************/

div.search{
padding: 10px 0 5px 0;
background:#bbb;
border-bottom:1px dotted #999;
border-top:2px solid #999;
color:#fff;
}

.cloud{
margin:3px 3px 0px 3px;
font-size:10px;
}

.cloud a{
	color:#777;
}

.cloud a:hover{
	background:#777;
	color:#bbb;
}

.search_form input, .search_form a{
font-size:1.5em;
text-decoration:none;
}

/****************************
NOTE
*****************************/


.note{
text-align:left;
width:325px;
overflow-x: hidden;
background:#ffffcc;
border-right:3px solid #aaa;
border-bottom:3px solid #aaa;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
font-size:.85em;
}

.note img.thumb{
border:3px solid #fff;
}

.note_header{
font-size:1px;
background:#ffff66;
border-bottom:#ffff00 1px solid;
height:17px;
}


div.note_date{
float:left;
font-size:14px;
line-height:17px;
font-weight:bold;
width:300px;
padding:1px 0px 1px 2px;
color:#000;
}

div.note_text{
margin-bottom:3px;
margin-left:6px;
font-size:1.25em;
}

div.note_text ul{
	margin-left:0px;
	margin-top:.25em;
	padding-left:.7em;
}

div.note_text ul{

}

div.note_delete{
float:left;
width:20px;
text-align:right;
}

div.note_delete a:hover{
background:url();
}



.note_controls {
text-align:right;
margin-right:0px;
}

.editor_field
{
border:0px solid #fff;
overflow:auto;
text-align:left;
}

.file_listing{
width:100px; 
float:left;
margin:5px;
}

.inner_note{
margin:10px;
}

div.tags{
color:#3883D6;
margin: 5px 0px 5px 0px;
padding-top:3px;
border-top:1px dotted #ccc;
}

.editor_field{
	background:#ffffcc;
}

/****************************
FILES
*****************************/
.file{
float:left;
}

.file a:hover{
background:url();
}

.upload_control{
}