<div id="sidebar">
	<% user_area do %>
	<%= display_avatar %>	
	<%=button_to "Upload Photos", user_new_photo_path(current_user), :class=>"large_button", :method=>"get" %>
	<%=button_to "Create an Album", user_new_album_path(current_user), :class=>"large_button", :method=>"get" %>
	<h3>Albums</h3>

	<h3>Tags</h3>
	<% end %>
</div>