<script>
window.parent.YAPA.page_controller.render_upload_success(window.name.replace("upload_target_", ""), "<%=escape_javascript(render :partial=>"shared/edit_photo", :object=>@photo)%>");
</script>